*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

:root {
    --black: #000;
    --white: #fff;
}

header{
    height: 10rem;
    background-image: url('/static/img/banner.jpg');
    background-size: cover;
    height: 7rem;
}

.banner_text{
    text-shadow: 2px 2px var(--black);
    color: var(--white);
    text-align: center;
    padding-top: 2rem;
    font-size: 2.3rem;
}

.links_nav{
    background-image: radial-gradient(#152cd5, #ffffff);
    padding-left: 20rem;
    padding-right: 20rem;
    height: 2.2rem;
    display: flex;
    justify-content: space-between;
}

.links_nav a{
    padding-top: 0.1rem;
    text-decoration: none;
    font-size: 1.7rem;
    color: var(--white);
    align-items: center;
}

main{
    background-color: var(--white);
    min-height: calc(100vh - 12.2rem);
    background-size: auto;
}

main section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    padding-top: 2rem;
}

main section img{
    height: 5rem;
    width: 5rem;
}

.img2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30rem;
    width: 30rem;
}


/* Formulários */

form{
    padding-top: 10rem;
}

fieldset{
    border: 1px solid black;
    width: fit-content;
    height: fit-content;
    flex-direction: column;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

fieldset div{
    display: flex;
    flex-direction: row;
    margin-top: 0.8rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

fieldset div button{
    margin-bottom: 0.5rem;
}

fieldset div label{
    display: flex;
    align-items: center;
    padding-right: 0.8rem;
    border-radius: 1rem;
}

.formulario{
    display: flex;
    align-items: end;
    justify-content: right;
}

.tam_fonte{
    font-size: 1.4rem;
}

.tam_fonte2{
    font-size: 1.2rem;
    height: 2.1rem;
}

input{
    display: block;
    background-color: var(--white);
    border-radius: 0.2rem;
}

input:hover{
    display: block;
    background-image: radial-gradient(#45ff45, #ffffff);
    border-radius: 0.2rem;
}

button:hover{
    background-image: radial-gradient(#45ff45, #ffffff);
    border-radius: 0.2rem;
}






a, input{
    display: block;
}
img{
    width: 250px;
}
table, tr, td, th{
    border: 1px solid black;
    border-collapse: collapse;
}

footer{
    background-image: radial-gradient(#152cd5, #ffffff);
    height: 3rem;
    color: var(--white);
    font-size: 1.7rem;
    align-items: center;
    display: flex;
}








