{% extends "base.html" %}

{% block conteudo %}

{% set mensagens = get_flashed_messages() %} 
{% if mensagens %}     
   {% for msg in mensagens %}
        {{ msg }}
   {% endfor %}
{% endif %}
    <form action="/usuario/save" method="post">
        <fieldset>
            <div class="formulario">
                <label class="tam_fonte" for="nome">Nome:</label>
                <input class="tam_fonte2" type="text" name="nome" id="nome">
            </div>
            <div class="formulario">
                <label class="tam_fonte" for="email">E-mail:</label>
                <input class="tam_fonte2" type="email" name="email" id="email">
            </div>
            <div class="formulario">
                <label class="tam_fonte" for="telefone">Telefone:</label>
                <input class="tam_fonte2" type="number" name="telefone" id="telefone">
            </div>
            <div>
                <button type="submit">Salvar</button>
            </div>
        </fieldset>
    </form>
    <div  class="msn">
        <img src="/static/img/frutiger-aero.png" alt="msn">
    </div>
{% endblock %}